// app global css in SCSS form
@font-face {
  font-family: young-serif;
  src: url(./fonts/young-serif.ttf);
}
@font-face {
  font-family: oswald;
  src: url(./fonts/oswald.ttf);
}

.ys{
  font-family: young-serif;
}

.oswald{
  font-family: oswald;
}

.q-field--standout .q-field__control {
  padding: 0 0 0 12px;
  margin: 0 12px 0 0;
  border-radius: 1rem;
}

.q-field--labeled .q-field__native, .q-field--labeled .q-field__prefix, .q-field--labeled .q-field__suffix{
  line-height: 20px;
}

.search-btn{
  cursor: pointer;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.contact-form .q-field__control, .search-form .q-field__control {
  color: $deep-purple-14;
}
